[submodule "Server"]
	path = Server
	url = https://github.com/Ianodad/Ultimate_Watchlist_Server.git
[submodule "Client"]
	path = Client
	url = https://github.com/Ianodad/Ultimate_Watchlist_Client.git
